:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-items: center;
  font-size: 17px;
}

#app {
  width: 100%;
  text-align: center;
}

header {
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-around;
  background-color: black;
  position: sticky;
  top: 0;
  color: white;
  z-index: 1000;
}

.logo-div {
  width: 10%;
}

.logo-img {
  height: 90px;
}

.nav-div {
  align-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

h2 {
  margin-bottom: 0px;
  font-size: 25px;
}

p {
  margin: auto;
}

#pet-container {
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 2em;
  border: solid 1px #ffffff;
  box-shadow: 0 0 4em #646cff;
}

.pet-img {
  width: 150px;
  height: 120px;
  border-radius: 50%;
}

.breed {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  border: 2px solid transparent;
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  border-color: white;
  transition: border-color 0.25s;
  width: 60px;
}

button:hover {
  border-color: #646cff;
}

button:active {
  border-color: palevioletred;
}

#surprise-button:hover {
  border-color: palevioletred;
}

#surprise-button:active {
  border-color: #646cff;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 35px;
  }
}